<div class="notification">
<%= link_to conversation_path(message.conversation_id) do %>
  <div class="info-notif">
    <%= image_tag message.user.avatar, class: "img-circle small-avatar", width: 36 %>
      <p class ="sender-name"><%= message.user.first_name %> <%= message.user.last_name %></p>
    </div>
  <div class="message-notif"><%= message.body %></div>
</div>
<%end%>
