<div class="container-fluid">
  <% @conversations.each do |conversation| %>
    <% user = conversation.opposed_user(current_user) %>
    <div class="card message-wrapper">
      <div class="card-img">
        <%#= image_tag user.avatar %>
      </div>
      <div class="card-body">
        <p> <%= user.first_name %> <%= user.last_name %></p>
        <div class="msg">
          <%= conversation.messages.last.body if conversation.messages.any? %>
        </div>
      </div>
      <div class="card-info">
        <strong><%= conversation.messages.last.created_at if conversation.messages.any? %></strong>
      </div>
        <%= link_to "", conversation_path(conversation), class: "conversation-link" %>
    </div>
  <% end %>
</div>

