<div class="container messagerie">
  <% @conversations.each do |conversation| %>
    <% user = conversation.opposed_user(current_user) %>
<<<<<<< Updated upstream
    <div class="content-message">
      <div class="content-img">
=======
    <div class="card message-wrapper">
      <div class="card-img">
>>>>>>> Stashed changes
        <%= image_tag user.avatar, class: "sm-avatar"%>
      </div>
      <div class="info-users">
        <p> <%= user.first_name %> <%= user.last_name %></p>
        <div class="msg">
          <%= conversation.messages.last.body if conversation.messages.any? %>
        </div>
      </div>
      <div class="">
        <p class= "time"><%= time_ago_in_words(conversation.messages.last.created_at) if conversation.messages.any? %></p>
      </div>
        <%= link_to "", conversation_path(conversation), class: "conversation-link" %>
    </div>
  <% end %>
</div>

