<% content_for(:body_class, "conversation") %>
<% content_for(:conversation_id, @conversation.id.to_s) %>

<div class="user-profile">
  <div class="container">
    <div class="list-user row">
        <div class="info-profil col-lg-4">
          <%= image_tag @user.avatar, class: "avatar-list-user" %>
          <h4><%= "#{@user.last_name}  #{@user.first_name}" %></h4>
        </div>
    </div>
  </div>
</div>

<div class="messages-wrapper">
  <div class="container">
    <div class="messages">

      <%= render collection: @messages, partial: "messages/message", locals: { ownership: true } %>

    </div>
  </div>
</div>

<div class="form">
  <div class="container">
    <%= simple_form_for [@conversation,@message], :method => :post, remote: true do |f| %>
      <%= f.input :body, as: :text, id: 'text_message' %>
      <%= f.button :button, id: "send " do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>
</div>





<% content_for(:after_js) do %>

  <script>

    var messagesWrapper = document.querySelector(".messages-wrapper");
    messagesWrapper.scrollTo(0, messagesWrapper.scrollHeight);

    var current_user_id = <%= current_user.id %>;

    App.messages = App.cable.subscriptions.create(
      {
        channel: 'ConversationsChannel',
        conversation_id: <%= @conversation.id %>
      },
      {
        received: function(data) {
          var messages = document.querySelector(".messages");
          var formInput = document.getElementById("message_body");
          formInput.value = "";

          if (data.sender_id == current_user_id) {
            messageClass = "message-mine";
          } else {
            messageClass = "message-other";
          }

          var template = document.createElement('template');
          template.innerHTML = data.message_html.trim();
          template.content.firstChild.classList.add(messageClass);

          messages.appendChild(template.content.firstChild);

          var messagesWrapper = document.querySelector(".messages-wrapper");
          // messagesWrapper.scrollTo(0, messagesWrapper.scrollHeight);
          messagesWrapper.scroll({
            top: messagesWrapper.scrollHeight,
            behavior: 'smooth'
          });

        }
      }
    );
  </script>
<% end %>
