
<div class="list-user row">
  <%= link_to user_path(user.id) do %>
    <div class="info-profil col-lg-4">
      <img src= "http://www.drodd.com/images14/black11.jpg" class= "avatar-list-user" >
      <%#= image_tag user.avatar, class: "avatar-list-user" %>
      <%#= cl_image_tag("av.jpg",width: 100, height: 100, crop: :fill, class: "avatar-list-user") %>
      <h4><%= "#{user.last_name}  #{user.first_name}" %></h4>
      <p class="bio-user"><%#= user.bio %></p>
      <p><%= user.email %></p>

      <strong>Distance: <%= Geocoder::Calculations.distance_between(user, current_user).round(2)%> Km</strong>
    </div>
    <div class="col-lg-8 book-users-Index hidden-xs hidden-sm">
      <%= render collection: user.books.limit(4), partial:'books/book', locals: { book_class: "col-md-3" } %>
    </div>
  <% end %>
</div>
</div>
