<div class="<%= 'no-display' if user_signed_in? %> <%= 'no-log' unless user_signed_in? %>">
  <div class="wrapper">
  <div class="explication ">
    <h1>Nous avons trouvé des profils à te proposer si tu veux échanger avec eux, inscrit toi</h1>
    <p class="btn btn-primary" id="display-form">Inscription</p>
  </div>
  <div class="form-inscription no-display">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,placeholder: "Jean@yop.com" ,required: true, autofocus: true %>
          <%= f.input :password, placeholder: "6 characters minimum" ,required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, placeholder: "6 characters minimum" ,required: true %>
          <%= f.input :first_name, placeholder: "Jean" ,required: true, autofocus: true %>
          <%= f.input :last_name, placeholder: "Tanrien" ,required: true, autofocus: true %>
          <%= f.input :address,  placeholder: "3 Cours Portal, 33000 Bordeaux",required: true, autofocus: true %>
          <%= f.input :avatar, placeholder: "Fait voir ton minois"%>
          <%= f.label :bio%>
          <%= f.text_area :bio,placeholder: "Une petite description?" ,class: "bio-form" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn-primary col-lg-offset-4 col-lg-4 btn-sign" %>
        </div>
    <% end %>
  </div>
  </div>
</div>

<div class="container <%= 'blur' unless user_signed_in? %>" >
  <div class="row">
    <h1 style="letter-spacing: 8px; text-align: center;"><strong>MATCHES</strong></h1>
    <%= render collection: @users, partial: "users/user" %>
  </div>
</div>
