<div class="<%= 'no-display' if user_signed_in? %> <%= 'no-log' unless user_signed_in? %>">
  <h1>Connecte-toi pour voir tout les profils correspondants</h1>
  <%= link_to "log in", new_user_session_path, class: "btn btn-primary "%>
</div>
<div class="container <%= 'blur' unless user_signed_in? %>" >
  <div class="row">
    <h1 style="letter-spacing: 8px; text-align: center;"><strong>MATCHES</strong></h1>
    <%= render collection: @users, partial: "users/user" %>
  </div>
</div>
