<div class="wrapper-show">
  <div class= "row">
    <div class="content-img col-md-4">
      <%#= cl_image_tag @user.avatar, class: "avatar avatar-show" %>
      <%= cl_image_tag @user.avatar, class: "avatar-show" %>
    </div>
    <div class="content-info col-md-8">
      <h2> <%="#{ @user.last_name} #{@user.first_name}"%></h2>
      <h4><%= @user.address %></h4>
      <p ><%= @user.bio %></p>
      <%= link_to "DISCUTER", users_path ,class: "btn btn-primary col-md-3"  %>
    </div>
  </div>
  <div class="container">
    <h2 class="color-section">Recommend</h2><hr>
    <div class= "row">
      <%= render collection: @user.books - current_user.books, partial:'books/book' %>
    </div>
    <h2 class="color-section">Library</h2><hr>
    <div class= "row">
        <%= render collection: @user.books, partial:'books/book', locals: { current_user_profile: @user == current_user } %>
    </div>
  </div>
</div>
