<div class="wrapper-show">
  <div class= "row">
    <div class="content-img col-md-4">
      <%= cl_image_tag @user.avatar, class: "avatar-show" %>
    </div>
    <div class="content-info col-md-8">
      <h2> <%="#{ @user.last_name} #{@user.first_name}"%></h2>
      <h4><%= @user.address %></h4>
      <p ><%= @user.bio %></p>
      <% if @user != current_user %>
      <% if Conversation.between(current_user, @user).any? %>
        <%= link_to "DISCUTER", conversation_path(Conversation.between(current_user, @user).first), class: "btn btn-primary col-md-3" %>
      <% else %>
        <%= button_to "DISCUTER", user_conversations_path(@user), method: :post, class: "btn btn-primary col-md-3" %>
      <% end %>
      <%end%>
    </div>
  </div>
  <div class="container">
    <% if @user != current_user %>
      <h2 class="color-section">Recommandations</h2><hr style="line-height: 5px;">
    <%end%>
    <div class= "row">
      <%= render collection: @user.books - current_user.books, partial:'books/book' %>
    </div>
    <h2 class="color-section">Librairie</h2><hr>
    <div class= "row">
        <%= render collection: @user.books, partial:'books/book', locals: { current_user_profile: @user == current_user } %>
    </div>
  </div>
</div>
