<div class="book col-xs-6 col-md-3 col-lg-2" id="book-<%= book.google_books_id%>">
  <div class="top">
    <%= image_tag book.cover_url, class: "cover-book" if book.cover_url.present? %>

  </div>
  <div class="book-brackground">
    <!-- <i class="fas fa-minus-circle"></i> -->
    <!-- <i class="fas fa-check-circle"></i> -->

    <% if (session[:books] && session[:books].include?(book.google_books_id)) || (user_signed_in? && current_user.google_books_ids.include?(book.google_books_id)) %>
      <i class="fas fa-check-circle"></i>
    <% else %>
      <%= link_to "", book_readings_path(book.google_books_id), remote: true, class: "fas fa-plus-circle", method: "post" %>
    <% end %>
    <div class="book-info">
      <h4><%= book.title %></h4>
      <p><%= book.author %></p>
      <p><%= book.google_books_id %></p>
    </div>
  </div>
</div>

